@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1676427632914') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuche:before {
  content: "\e899";
}

.icon-fangdajing:before {
  content: "\e848";
}

