/*设置文档外边距与内间距，消除间隙*/
heml,body{
    margin: 0px;
    padding: 0px;
}
/*id选择器，#id名称*/

/*找到id=main的盒子*/
#main {
    /*自动适应屏幕100%*/
    height:100vh;
    /*background-color: red;*/
    background-image: url('../images/bg.jpg');
    /*设置图片重复*/
    background-repeat: no-repeat;
    /*图片居中，自适应匹配大小*/
    background-position: center;
    /*背景图片尺寸*/
    background-size: cover;
    padding-top: 5%;
    box-sizing: border-box;
}
#footer{
    background-image: url('../images/foot_bg.png');
    /*background-color: red;*/
    position: absolute;
    bottom: 0px;
    height: 27vh;
    /*绝对定位时宽度要手动调*/
    width: 100%;
    background-size: 100%;
    color: white;
    text-align: center;
    padding-top: 76px;
    box-sizing: border-box;
}
@font-face {
    font-family: 'ysjk';
    src: url('../fonts/fyxs.woff2') format('woff2'),
    url('../fonts/fyxs.woff') format('woff'),
    url('../fonts/fyxs.ttf') format('truetype');
}
#copyright{
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 20px;
    font-family: Arial, "微软雅黑";
}
#ysjk{
    font-family: "ysjk";
    font-size: 42px;
}
#menu{
    margin: auto;
    max-width: 1230px;
    position: relative;
}
#items{
    /*相对父节点的位置移动到右边*/
    position: absolute;
    right: 0px;
    width: 530px;
    /*取消前面的点*/
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}
/*子代用（items>a）  后代用（items a）*/
#items a{
    text-decoration: none;
    border-radius: 10px;
    background-color: rgba(38, 104, 170, 0.67);
    display: block;
    width: 80px;
    height: 80px;
    font-size: 14px;
    color: white;
    text-align: center;
    padding-top: 15px;
    box-sizing: border-box;
    /*添加一个css过渡效果,all代表所有css都要过渡，.2s代表过渡时间*/
    transition: all .2s;
    position: relative;

}
#items a:hover{
    background-color: white;
    color: rgb(51, 99, 160);
    /*position: relative;
    bottom: 5px;*/
    margin-top: -5px;
    /*添加阴影*/
    box-shadow: 0 2 20px #000;
}
.ewm{
    width: 160px;
    height: 160px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 138px 138px;
    position: absolute;
    left: -50%;
    top: 105px;
    display: none;
    border: 1px solid #ddd;
    z-index: 10;
}
.ewm-bg1{
    background-image: url('../images/hlw.jpg');
}
.ewm-bg2{
    background-image: url('../images/wx.jpg');
}
#items a:hover>.ewm{
    display: block;
}
/*在ewm盒子的最前面加一个盒子*/
.ewm::before{
    content: "";/*盒子的内容为空，*/
    position: absolute;
    /*父容器宽度的50% 减去自己宽度的一半，即居中的位置*/
    left: calc(50% - 10px);
    top: -11px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    /*旋转45度*/
    transform: rotate(45deg);
}
.zh1{
    font-size: 36px !important;
}
.zh2{
    font-size: 14px;
    position: relative;
    top: 1px;
}
.zh3{
    font-size: 32px !important;
    margin-bottom: 5px;
    position: relative;
    top: 1px;
}
.zh4{
    font-size: 30px !important;
    margin-bottom: 7px;
    position: relative;
    top: 2px;
}
#list{
    width: 1180px;
    position: absolute;
    left: calc((100% - 11800) / 2);
    top: 19vh;
    height: 32vh;
}
.panel{
    width: 22%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transition: all .2s;
    text-decoration: none;
    text-align: center;
    padding-top: 10vh;
    box-sizing: border-box;
}
#old{
    left: 0px;
    background-color: rgba(215, 174, 103, .8);
}
#test{
    left: 20.5%;
    top: 30px;
    background-color: rgba(25,141,124, .8);
}
#public{
    left: 41%;
    top: 0px;
    background-color: rgba(24,90,146, .8);
}
#emp{
    left: 61.5%;
    top: 30px;
    background-color: rgba(239,247,254, .8);
}
#english{
    left: 82%;
    top: 0px;
    background-color: rgba(212,173,102, .8);
}
.panel:hover{
    transform: scale(1.1);
    z-index: 10;
}
.zt5{
    font-size: 30px;
    color: white;
}
.zt6{
    font-size: 30px;
    color: black;
}