html,body{
    margin: 0;
    padding: 0;
}
#main{
    width: 1230px;
    height: 100vh;
}
#left{
    width: 450px;
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
}
#leftitems{
    top: 10px;
    width: 450px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 0;
}
#leftitems li{
    border-radius: 10px;
    text-decoration: none;
    /* 转成块级标签 */
    display: block;
    color: black;
    width: 60px;
    height: 30px;
    font-size: 10px;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
}
#right{
    width: 200px;
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
}
#rightitems{
    top: 10px;
    width: 150px;
    /* height: 50px; */
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 0;
}
#rightitems li{
    border-radius: 10px;
    text-decoration: none;
    /* 转成块级标签 */
    display: block;
    color: black;
    width: 60px;
    height: 30px;
    font-size: 10px;
    text-align: center;
    padding : 5px;
    margin: auto;
    box-sizing: border-box;
}
.zh{
    background-color: rgba(38, 104, 170, 0.67);
}