@font-face {
  font-family: "nchuzt";
  src: url(../font/fyxs.ttf) format("truetype");
}
.nchuzt {
  font-family: "nchuzt" !important;
  font-size: 14px;
  font-style: normal;
}

/* 设置文档的外边距和内间距都为0，并去除空袭 */
html,
body {
  margin: 0;
  padding: 0;
}
/* 标签选择器，标签名称 */
/* id选择器*/
#main {
  height: 100vh;
  background-image: url(../images/bg.jpg);
  /* 图片在容器中的位置x,y */
  background-position: center;
  /* 背景图片在容器中的位置 */
  background-size: cover;
  /* 背景图片的重复方式 */
  /* background-repeat: no-repeat; */
}
#footer {
  background-image: url(../images/foot_bg.png);
  background-size: 100%, 100%;
  height: 100px;
  /* 需设置宽度 */
  width: 100%;
  height: 27vh;
  position: absolute;
  bottom: 0;
  /* 子级继承父级属性 */
  color: white;
  text-align: center;
  padding-top: 76px;
  box-sizing: border-box;
}
#copyright {
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 20px;
  font-size: Arial, "微软雅黑";
}
#isjk {
  font-size: 40px;
  letter-spacing: 1px;
}
#menu {
  width: 1230px;
  margin: auto;
  position: relative;
}
#items {
  top: 61px;
  width: 530px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 0;
}
#items a {
  background-color: rgba(38, 104, 170, 0.67);
  border-radius: 10px;
  text-decoration: none;
  /* 转成块级标签 */
  display: block;
  color: white;
  width: 80px;
  height: 80px;
  font-size: 14px;
  text-align: center;
  padding-top: 15px;
  box-sizing: border-box;
  transition: all .2s;
  position: relative;
}
#items a:hover {
  background-color: white;
  color:rgb(51, 99, 160);
  margin-top: -5px;
  box-shadow: 0 2 20px black;

}
.ewm {
  width: 160px;
  height: 160px;
  background-color: white;
  background-image: url(../images/hlw.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 138px, 138px;
  position: absolute;
  left: -50%;
  top: 105px;
  display: none;
  border: 1px solid #ddd;
}
#items a:hover .ewm {
  display: block;
}
.ewm::before {
  content: "";
  position: absolute;
  left: calc(50% - 10px);
  top: -11px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  transform: rotate(45deg);
}
.ewm1 {
  width: 160px;
  height: 160px;
  background-color: white;
  background-image: url(../images/wx.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 138px, 138px;
  position: absolute;
  left: -50%;
  top: 105px;
  display: none;
  border: 1px solid #ddd;
}
#items a:hover .ewm1{
  display: block;
}
.ewm1::before {
  content: "";
  position: absolute;
  left: calc(50% - 10px);
  top: -11px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  transform: rotate(45deg);
}
#list {
  border: 1px solid red;
  width: 1230px;
  position: absolute;
  left: calc(100% - 1230px) / 2;
  top: 200px;
  display: flex;
}
.zh1 {
  font-size: 36px !important;
}
.zh2 {
  font-size: 14px;
  position: relative;
  top: 1px;
}
.zh3 {
  font-size: 32px !important;
  position: relative;
  top: 1px;
  margin-bottom: 5px;
}
